.cy-content {
  width: 100%;
  position: absolute;
  left: 0;
  top: 44px;
  bottom: 50px;
  background-color: grey;
}
.cy-content .con-l {
  height: 100%;
  position: relative;
  width: 80px;
  float: left;
  background-color: #fff;
}
.cy-content .con-l ul {
  height: 100%;
}
.cy-content .con-l ul li {
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #212421;
  font-size: 18px;
  font-weight: bold;
}
.cy-content .con-l ul li.active {
  background-color: grey;
  color: skyblue;
}
.cy-content .con-r {
  height: 100%;
  position: relative;
  margin-left: 90px;
  background-color: #fff;
  margin-top: 10px;
}
.cy-content .con-r ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cy-content .con-r ul li {
  width: 33.333333%;
  height: 80px;
}
.cy-content .con-r ul li a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  padding: 10px;
}
.cy-content .con-r ul li a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
