body.fixed {
  overflow: hidden;
}
.cy-footer .jionCart {
  background-color: #FF9500;
  color: #fff;
}
.cy-footer .buyNow {
  background-color: #FF0036;
  color: #fff;
}
.mui-content {
  background-color: #fff;
}
.mui-content .proInfo-wrap {
  padding: 10px;
}
.mui-content .proInfo-wrap .price {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  line-height: 50px;
}
.mui-content .proInfo-wrap .price .newPrice {
  font-size: 40px;
  color: red;
}
.mui-content .proInfo-wrap .price .oldPrice {
  text-decoration: line-through;
  margin-left: 20px;
}
.mui-content .proInfo-wrap h1 {
  font-size: 18px;
  color: #051B28;
}
.mui-content .proInfo-wrap .sellNum {
  margin-top: 10px;
}
.mui-content .proInfo-wrap .mui-row .mui-table-view-cell {
  padding: 15px 0;
}
.mui-content .proInfo-wrap .mui-row .mui-navigate-right {
  display: flex;
  justify-content: flex-start;
}
.mui-content .proInfo-wrap .mui-row .mui-navigate-right .l {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}
.mui-content .proInfo-wrap .mui-row .mui-navigate-right .r {
  display: flex;
  justify-content: flex-start;
}
.mui-content .proInfo-wrap .mui-row .mui-navigate-right .r p {
  margin-right: 15px;
}
.mui-content .proInfo-wrap .proPic h3 {
  font-size: 14px;
  color: #666;
  line-height: 34px;
  height: 34px;
  border-left: 3px solid red;
  padding-left: 10px;
}
.mui-content .proInfo-wrap .proPic img {
  width: 100%;
}
.widgets-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s 80ms;
  will-change: opacity;
}
.widgets-cover.show {
  pointer-events: auto;
  opacity: 1;
}
.widgets-cover .cover-bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.widgets-cover .cover-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 20%;
  background-color: #fff;
}
.widgets-cover .cover-content .cover-body {
  position: absolute;
  bottom: 48px;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.widgets-cover .cover-content .cover-body section {
  display: none;
}
.widgets-cover .cover-content .cover-body section .mui-table-view-cells {
  padding: 11px 15px;
}
.widgets-cover .cover-content .cover-body section.sectionShow {
  display: block;
}
.widgets-cover .cover-content .cover-body h4 {
  font-size: 16px;
  text-align: center;
  height: 60px;
  line-height: 60px;
}
.widgets-cover .cover-content .cover-body ul {
  color: #999;
  font-size: 14px;
}
.widgets-cover .cover-content .cover-body .choice .colors,
.widgets-cover .cover-content .cover-body .choice .sizes {
  display: flex;
  flex-wrap: wrap;
}
.widgets-cover .cover-content .cover-body .choice .colors p,
.widgets-cover .cover-content .cover-body .choice .sizes p {
  width: 20%;
  margin-right: 15px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #cfcfcf;
  border-radius: 5px;
}
.widgets-cover .cover-content .cover-body .choice .colors p.active,
.widgets-cover .cover-content .cover-body .choice .sizes p.active {
  color: black;
}
.widgets-cover .cover-content .cover-body .choice .buyNum {
  display: flex;
  justify-content: space-between;
}
.widgets-cover .cover-content .cover-body .params table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  font-size: 12px;
}
.widgets-cover .cover-content .cover-body .params table tr {
  border-top: 1px solid #eee;
}
.widgets-cover .cover-content .cover-body .params table tr th {
  padding: 10px;
  width: 80px;
  word-break: break-all;
  color: #888;
}
.widgets-cover .cover-content .cover-body .params table tr td {
  word-break: break-all;
  color: #555;
  padding: 10px;
}
.widgets-cover .cover-content .cover-footer {
  height: 48px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
.widgets-cover .cover-content .cover-footer button {
  width: 100%;
  height: 100%;
}
