.mui-content .mui-input-group .mui-button-row {
  margin-top: 20px;
  padding: 0;
}
.mui-content .mui-input-group .mui-button-row .confirm {
  width: 100%;
  height: 100%;
}
.mui-content .mui-input-group .vertify {
  position: relative;
}
.mui-content .mui-input-group .vertify .vertifyCode {
  width: 72px;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  background-color: #ccc;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}
